ws.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/ws/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ws" targetNamespace="http://www.example.org/ws/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/ws/">
      <xsd:element name="getTest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getTestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="status">
                <xsd:complexType>
                  <xsd:sequence>
                      <xsd:element name="code" type="xsd:string"/>
                      <xsd:element name="description" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="result" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="Response">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getTestRequest">
    <wsdl:part element="tns:getTest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getTestResponse">
    <wsdl:part element="tns:getTestResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:portType name="ws">
    <wsdl:operation name="getTest">
      <wsdl:input message="tns:getTestRequest"/>
      <wsdl:output message="tns:getTestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="wsSOAP" type="tns:ws">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getTest">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port binding="tns:wsSOAP" name="wsSOAP">
      <soap:address location="http://test/soap/server.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
